body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://lh3.googleusercontent.com/pw/ADCreHcSk5evUgxhdBGYJLhr8Zt1Ss_iJtW4x1NUiipXuj53G2Up_apBGYDrdNyRsEqYW000p67Cw8NbbjE7w6TQQ9nJk9qTpLp9vek04qGkPD4wKDDivDWd72WY4UyuV-k9-AveDA9A3oMz0UNi9zELFzjpo2tmvXzaO_Rs_Z5oH1YEcQH9YEG_gSraOjtq5QI1RXPjTLgwfDUngwiN_q3yKP9qZFAId5PIH1GrH7gw_zA_L4PQEP5DYvbLF2347qEd_okaqGLKX8fUgPtxns7WrkYmV90xSFqxR40k1bZ-8oeih_l724AONISclMH1-XVU6eT19dvH4O7zPVtkU4-P_CXPPoGfr5RLNN85wVnv5Lv8MQxb5hkR1jtVOz6ScEud3oYDWXi7FCGBAlUUONTJuK6PrUPEizpELDyrgJ-SLYZeZNSgElHIf6wk2t6rkENB6E3Jcz6g2Rm3Y2SXhJbaXWVwcsStoxLu_j8R2XVI4ETyN-02z4GsngI488M4SCiZOYcgZlcr5LS0bO8SGiX-vkfv4fE94fpej1bLfl-1eozwBuh5p0JWWFuUW1dhTdhv2ycTQ1nkwvXr2Nrhqyczk9Rk1l2R9g4Jo6CFLb5PM39CVqK00U5QWA3PnkuV8siuWi8LqjtvwWnDdWBQTrz1N6GC24iWhctL0E37jolTiMddGO1FbEHGptOJNm5mBFzeppIr_AYVHVJ7YgFvQPGRa_Z83uGU05_loEM0a70Y-6vWSUrVkmyPqUms_lpXyj1aHKwrS-qzcvlFbBblOvrxKdDHQU5eKoVHpKSKpueSN9ryGkDP29RKKC6EmddT3lCIqhkkWE8OlK5czmDrny4i0a-ZAV3BmzRqNQP3Xnk-6pGVUQkLYfbIoNnOCk25AOJYjthMQ9StFzTJfpCRVOkaz1B-imuW_LuFbGjXn_8PRLVId66n-DMvNjzq3RwPJNAY02rJj29310HMlJ3E7RvHBo7fvRM172bgNRYZGnDc0eyzO1MpN3CMM1e5wVTM-1XZS1OJpH8=w293-h220-no?authuser=0");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative; /* Adicione esta linha */
  z-index: 2; /* Adicione esta linha */
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1; /* Adicione esta linha */
}


.container_todosFilmes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container_filme{
  padding: 2%;
  display: block;
  max-width: 30%;
  
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
  max-width: 100%;
}

img:hover{
  transform: scale(1.2);
}

p{
  color: white;
  font-family: "monaco", monospace;
  text-transform: uppercase;
}